<my-widget-config [widgetComponent]="this">
    <ng-template #widgetParamsTemplate let-widget="widget">
        <label class="label-block">
            {{'Document URL' | translate}}
            <input type="text" class="form-control"
                   placeholder="https://zirkuszelt.org/uploads/example.odp"
                   [(ngModel)]="widget.dimension.newData.documentUrl" name="widget-url-{{widget.id}}"
                   [disabled]="isUpdating"/>
        </label>
    </ng-template>
</my-widget-config>
