<div class="dialog">
    <div class="dialog-header">
        <h4>{{'Presentation Widget Configuration' | translate}}</h4>
    </div>
    <div class="dialog-content">
    </div>
    <div class="dialog-footer">
        <button type="button" (click)="save()" title="save" class="btn btn-primary btn-sm">
            <i class="far fa-save"></i> {{'Save' | translate}}
        </button>
        <button type="button" (click)="dialog.close()" title="close" class="btn btn-secondary btn-sm">
            <i class="far fa-times-circle"></i> {{'Cancel' | translate}}
        </button>
    </div>
</div>
